/*
 *
 */
@keyframes FadeIn {
    from    { opacity: 0 }
    to      { opacity: 1 }
}

@keyframes FadeOut {
    from    { opacity: 0.5 }
    to      { opacity: 0 }
}

.page        {
	bottom: 0;
	position: relative;
	width: 100%;
	height: 100%;
}

.page-home {
	
}
.page-home.ng-enter        { animation: FadeIn 1.0s both ease-in; animation-delay: 0.5s;}
.page-home.ng-leave        { animation: FadeOut 0.5s both ease-in; }

.page-event {
	
}
.page-event.ng-enter       { animation: FadeIn 1.0s both ease-in; animation-delay: 0.5s;}
.page-event.ng-leave       { animation: FadeOut 0.5s both ease-in; }


.page-join {
	
}
.page-join.ng-enter     { animation: FadeIn 1.0s both ease-in; animation-delay: 0.5s;}
.page-join.ng-leave     { animation: FadeOut 0.5s both ease-in; }

.page-login {
	
}
.page-login.ng-enter       { animation: FadeIn 1.0s both ease-in; animation-delay: 0.5s;}
.page-login.ng-leave       { animation: FadeOut 0.5s both ease-in; }

.page-load {
	
}
.page-load.ng-enter       { animation: FadeIn 1.0s both ease-in; animation-delay: 0.5s;}
.page-load.ng-leave       { animation: FadeOut 0.5s both ease-in; }

.page-local {
	
}
.page-local.ng-enter       { animation: FadeIn 1.0s both ease-in; animation-delay: 0.5s;}
.page-local.ng-leave       { animation: FadeOut 0.5s both ease-in; }

.page-map {
	
}
.page-map.ng-enter       { animation: FadeIn 1.0s both ease-in; animation-delay: 0.5s;}
.page-map.ng-leave       { animation: FadeOut 0.5s both ease-in; }

.page-maplocation {
	
}
.page-maplocation.ng-enter       { animation: FadeIn 1.0s both ease-in; animation-delay: 0.5s;}
.page-maplocation.ng-leave       { animation: FadeOut 0.5s both ease-in; }

.page-search {
	
}
.page-search.ng-enter       { animation: FadeIn 1.0s both ease-in; animation-delay: 0.5s;}
.page-search.ng-leave       { animation: FadeOut 0.5s both ease-in; }

.page-searchDetail {
	
}
.page-searchDetail.ng-enter       { animation: FadeIn 1.0s both ease-in; animation-delay: 0.5s;}
.page-searchDetail.ng-leave       { animation: FadeOut 0.5s both ease-in; }

.page-weather {
	
}
.page-weather.ng-enter       { animation: FadeIn 1.0s both ease-in; animation-delay: 0.5s;}
.page-weather.ng-leave       { animation: FadeOut 0.5s both ease-in; }


